
.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: var(--bg-main);
}

.formContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-card);

}